.input-prikaz {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file-label {
    background-color: #157347;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

}

.input-label:hover {
    background-color:saddlebrown;
}